server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      enabled: false 
      server:
        git:
          uri: https://github.com/oguzakd/Java-Spring-Microservices-Project.git
          search-paths: config-repo
          default-label: main

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false